body {
    margin: 0; /* odstrani medzeru mezdi vrchom a headerom */
    padding: 0; /* odstrani medzeru mezdi bokom a headerom*/

    background-color: rgb(255, 255, 255);
    background-color: transparent;
    
}

#header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color:rgb(200, 200, 200);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

@media (max-width: 768px) {
    #header {
        flex-direction: column; /* Stack elements vertically */
        padding: 10px 20px;
    }

    #logoimg {
        height: 40px;
        width: 200px; /* Scale logo for smaller screens */
    }

    #navbar {
        flex-direction: column; /* Stack navbar links */
        align-items: center;
        margin-top: 10px;
    }

    #navbar li {
        padding: 10px 0; /* Add vertical spacing */
    }

    .search {
        width: 100%; /* Full width search bar */
        justify-content: space-between;
        margin-top: 10px;
        padding: 10px;
    }

    .search-input {
        width: 90%; /* Adjust input width */
        font-size: 14px; /* Smaller font size */
    }
}

@media (max-width: 480px) {
    #header {
        padding: 10px; /* Minimal padding for very small screens */
    }

    #logoimg {
        height: 35px;
        width: 150px; /* Further scale down the logo */
    }

    #navbar li a {
        font-size: 18px; /* Slightly smaller text for navigation links */
    }

    .search-input {
        font-size: 13px; /* Reduce font size for search bar input */
    }
}

#logoimg
{
    height: 50px;
    width: 250px;
}


#navbar
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li
{
    list-style: none;
    padding: 0 20px;
}

#navbar li a
{
    font-family: "Poppins", sans-serif;
    text-decoration: none; /*ziadne podcarknutie slova*/
    font-size: 20px; /*zmena velkosti slov*/
    font-weight: bold;
    color: rgb(0, 0, 0.3);
    transition: 0.3s ease;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

#navbar li a:hover,
#navbar li a.active
{
    color: rgb(119, 0, 184); /*zmena farby pisma ked nan najdem kurzorom*/
}

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}

/*------------------footer-----------------*/
.footer{
    font-family: Arial, Helvetica, sans-serif;
	background-color: rgb(200, 200, 200);
    padding: 70px 0;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);

}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #000000;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 600;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #9000a0;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #000000;
	text-decoration: none;
	font-weight: 300;
	color: #000000;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #83009a;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgb(255, 255, 255);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #000000;
	transition: all 0.5s ease;
}

/*iconky */
.footer-col .social-links a:hover{
	color: #ffffff;
	background-color: rgb(119, 0, 184);
}

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

/*----------uvodna stranka----------*/
.homepageimg
{
    opacity: 0,5;
    width: 840px;
}

.homepagetext
{
    font-family: "Poppins", sans-serif;
    margin-top: 0px;
    margin-left: 900px;
    margin-bottom: 20px;
    margin-right: 200px;
    color: #9000a0;
    font-size: 40px;
    font-weight: bold;
    display: flex;
}

.homepagebutton
{
    font-family: "Poppins", sans-serif;
    width: 300px;
    height: 50px;
    color:white;
    background-color: #9000a0;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 100px;
    margin-right: 50px;
    margin-left: 910px;
    margin-top: 0px ;
    border: none;
    cursor: pointer;
    border-radius: 50px;
   
}
@media (min-width: 768px) {
    #Homepage {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .homepageimg {
        margin-right: 20px;
    }

    .homepage-content {
        max-width: 500px;
    }
}

@media (min-width: 1200px) {
    .homepagetext {
        font-size: 3rem;
    }

    .homepagebutton {
        font-size: 1.5rem;
    }
}



/*---------------------vyhladavanie---------------------*/
.search
{
    --padding: 5px;
    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 5px;
    background: white;
}

.search-input
{
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    color:#000000;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
}



#hero
{
   font-size: 20px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*-----------INfo---------------*/
.InfoP
{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.Info2
{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.Info3
{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    margin-bottom: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}
.onash1
{
    margin-top: 150px;
    margin-left: 200px;

}

.Small-container
{
    
    max-width: 1080px;
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
}

.col-4
{
    flex-basis: 25%;
    padding: 0px;
    min-width: 0px;
    margin-bottom: 50px;
    
}

.col-4 img
{
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    width: 200px;
}

#heroProducts
{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}
    


/*--------------------*/

.btnprodukty {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #890095;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, background 0.3s ease;
}

.btnprodukty:hover {
    transform: scale(1.05);
    background: #5e006b;
}

.btnimg {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.txtbtnproduct {
    font-size: 1rem;
    font-weight: bold;
}
/*------------------------*/



.containerf {
    width: 100%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    
}

/*filtracia*/
.filter-bar {
    font-family: Arial, sans-serif; /*font textu*/
    display: flex; /*v jednom riadku*/
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding-left: 100px;
    padding-right: 100px;
    
}

.filter-group {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    margin: 5px;
}

.filter-group label {
    margin-right: 10px;
    font-size: 14;
    font-weight: bold;
    color: #333;
}

input[type="number"], select {
    padding: 5px;
    font-size: 14px;
    margin-right: 10px;
    

}

.filter-button {
    background-color:#9000a0;
    color: #fff;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 0.9rem;
    border-radius: 6px;
    font-family: Arial, sans-serif;
}

.filter-button:hover {
    background-color:#9000a0;
}

/*-----profilpage---------*/
#profile-section {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px 20px;
}

.profile-heading {
    font-size: 2em;
    margin-bottom: 20px;
}

.profilpagetext
{
    text-align: center;
}

.profile-card {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-align: left;
}

.profile-card h2 {
    margin: 0 0 10px;
}

.profile-card p {
    margin: 5px 0;
}

.profile-actions {
    margin-top: 40px;
    
}

.btnprofilepage {
    padding: 10px 20px;
    color: #fff;
    background-color: #ff0000;
    border: none;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.btnprofilepage-danger {
    background-color: #9000a0;
}

.btn:hover {
    opacity: 0.9;
}

.profilpageimg
{
    max-width: 200px;
    max-height: 200px;
    align-content: center;
    margin-bottom: 30px;
}

/*--------------admin panel -----------------*/
#admin-panel {
    padding: 50px 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.admin-heading {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.user-table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-table th,
.user-table td {
    padding: 10px 20px;
    border: 1px solid #ddd;
    text-align: left;
}

.user-table th {
    background-color: #9000a0;
    color: white;
}

.user-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.user-table tr:hover {
    background-color: #e9ecef;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-danger:hover {
    opacity: 0.8;
}


/*------------------detailpage-----------*/

.product-detail-container {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1200px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}



.product-specifications
{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1200px;
    margin: 50px auto;
    background-color: #efecec;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    
    justify-content: space-between;
}



.product-image {
    width: 40%;
}

.product-image img {
    width: 100%;
    border-radius: 8px;
}

.product-info {
    width: 55%;
}

.product-info h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.product-info p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.price {
    font-size: 1.5em;
    color: #9000a0;
    font-weight: bold;
    margin-bottom: 20px;
}

.stock {
    font-size: 1.1em;
    color: #dc3545;
    margin-bottom: 20px;
}

.add-to-cart-btn {
    padding: 15px 30px;
    background-color: #9000a0;
    color: white;
    font-size: 1.1em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.add-to-cart-btn:hover {
    background-color: #9000a0;
}

.back-btn {
    display: inline-block;
    text-decoration: none;
    color: #9000a0;
    font-size: 1.1em;
}

.back-btn:hover {
    text-decoration: underline;
}

.DetailPageBack
{
    margin-left: 10px;
    text-decoration: none;
    color: #9000a0;
    font-size: 20px;
}


/*kosik*/

.containercart {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
  }
  .cart-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 700;
  }
  table {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    margin-bottom: 20px;
  }
  table th, table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
  }
  table th {
    background-color: #f8f8f8;
  }
  .cart-item img {
    max-width: 60px;
    height: auto;
    display: block;
    margin: auto;
  }
  .cart-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .cart-actions button {
    padding: 15px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 800;
  }
  .cart-actions button:hover {
    background-color: #218838;
  }
  .cart-total {
    text-align: right;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .checkout-btn {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 10px;
    margin-bottom: 50px;
    text-align: center;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
  }
  .checkout-btn:hover {
    background-color: purple;
  }

  /* Responsive Design */
  @media (max-width: 768px) {
    table, table thead, table tbody, table th, table td, table tr {
      display: block;
      width: 100%;
    }
    table thead tr {
      display: none;
    }
    table tr {
      margin-bottom: 20px;
      border: 1px solid #ddd;
    }
    table td {
      text-align: right;
      padding-left: 50%;
      position: relative;
    }
    table td::before {
      content: attr(data-label);
      position: absolute;
      left: 10px;
      text-align: left;
      font-weight: bold;
    }
    .cart-item img {
      max-width: 100px;
    }
  }




  /*-------------prihlasenie------------------*/
.account-page
{
    padding:  50px 0;
    background-color:rgb(255, 255, 255);
}

.col-2
{
    padding-left: 100px;
    padding-right: 0px;
}

.form-container
{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.3);
    overflow: hidden;
  
}

.form-container span
{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
    
}

.form-btn
{
    display: inline-block;
}

.form-container form
{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
    
}

form input
{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

form .btn
{
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    color: #fff;
    background-color:#9000a0;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

form .btn:focus
{
    outline: none;
}

#Loginform
{
    left: -300px;
    
}

#Registerform
{
    left: 0;
}

form a
{
    color: #9000a0;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    
    
}

#Indicator
{
    width: 100px;
    border: none;
    background: #9000a0;
    height: 3px;
    margin-top: 8px;
    transform: translate(100px);
    transition: transform 1s;

}

@media screen and (max-width: 768px) {
    .account-page {
        padding: 20px 0;
    }

    .col-2 {
        padding-left: 0;
        text-align: center;
    }

    .form-container {
        width: 90%;
    }

    #Loginform, #Registerform {
        left: 0;
    }

    #Indicator {
        transform: translateX(0px);
    }
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




/* produkty */
img{
    width: 100%;
    display: block;
}
.productcontainer{
    width: 60vw;
    margin: 0 auto;
}

.lg-title,
.md-title,
.sm-title{
    font-family: 'Roboto', sans-serif;
    padding: 0.6rem 0;
    text-transform: capitalize;
}
.lg-title{
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    padding: 1.3rem 0;
    opacity: 0.9;
}
.md-title{
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}
.sm-title{
    font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;
}
.text-light{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    opacity: 0.5;
    margin: 0.4rem 0;
}

/* product section */
.products{
    font-family: 'Quicksand', sans-serif;
    background: #f8f9fa;
    padding: 3.2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    
}
.products .text-light{
    text-align: center;
    width: 70%;
    margin: 0.9rem auto;
}
.product{
    margin: 2rem;
    position: relative;
}
.product-content{
    background: #cecece;
    padding: 3rem 0.5rem 2rem 0.5rem;
    cursor: pointer;
}
.product-img{
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.5);
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    transition: background 0.5s ease;
}
.product-btns{
    display: flex;
    justify-content: center;
    margin-top: 1.4rem;
    opacity: 0;
    transition: opacity 0.6s ease;
}
.btn-cart, .btn-buy{
    background: transparent;
    border: 1px solid black;
    padding: 0.8rem 0;
    width: 125px;
    font-family: inherit;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    transition: all 0.6s ease;
}
.btn-cart{
    background: black;
    color: white;
}
.btn-cart:hover{
    background: #890095;
}
.btn-buy{
    background: white;
}
.btn-buy:hover{
    background: #890095;
    color: #fff;
}
.product-info{
    background: white;
    padding: 2rem;
    width: 100%
}
.product-info-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rating span{
    color: #890095;
}
.product-name{
    color: black;
    display: block;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}
.product-price{
    padding-top: 0.6rem;
    padding-right: 0.6rem;
    display: inline-block;
}
.product-price:first-of-type{
    text-decoration: none;
    color: #890095;
}
.product-img img{
    transition: transform 0.6s ease;
}
.product:hover .product-img img{
    transform: scale(1.1);
}
.product:hover .product-img{
    background: #890095;
}
.product:hover .product-btns{
    opacity: 1;
}

/* Media Queries */
@media screen and (min-width: 992px){
    .product-items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .product-col-r-bottom{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 1200px){
    .product-items{
        grid-template-columns: repeat(3, 1fr);
    }
    .product{
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .products .text-light{
        width: 50%;
    }
}

@media screen and (min-width: 1336px){
    .product-items{
        grid-template-columns: repeat(4, 1fr);
    }
    .product-collection-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .flex{
        height: 60vh;
    }
    .product-col-left{
        height: 121.5vh;
    }
}

.Addproductbtn
{
    background-color: purple;
    color: white;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: none;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    margin-bottom: 50px;
    
}

.adminProduct
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.AddProducth
{
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.form-control
{
    width: 100%;
    margin-bottom: 10px;
}

.cart-product-img {
    width: 70px;  /* Nastav menšiu šírku */
    height: 70px; /* Nastav menšiu výšku */
    object-fit: contain; /* Zabezpečí, že obrázok nebude orezaný */
}